:root{
    --azulEscuro1: #010c2a;
    --dourado: #edad00;
    --azulEscuro2: #171f2a;
    --azulCinzaEscuro: #353e4c;
    --azulCinzaClaro: #475262;
    --verde: #238636;
    --verdeClaro: #2CA142;
    --verdeWhatsApp: #40c351;
}
.poppins-regular{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-bold{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.montserrat-regular{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.montserrat-bold{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    font-size: 20px;
    margin: 0;
}
main{
    width: 100%;
}
a{
    text-decoration: none;
}
h1{
    font-size: 1.8em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h2{
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h3{
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
p{
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Barra de Navegação */
header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#navBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azulCinzaEscuro);
    padding: .5em;
    z-index: 1;
}
#navBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navBar ul li{
    margin-right: 2vw;
    list-style: none;
    transition: 0.5s;
}
#navBar ul li a{
    color: white;
}
#navBar ul li a#areaDoCondomino{
    background-color: var(--dourado);
    padding: .5em;
}
#navBar ul li:hover{
    scale: 101%;
}
#navBar div a img{
    transition: .5s;
}
#navBar div a img:hover{
    scale: 101%;
}
/* Above the fold */
.containerImagem-above-the-fold{
    height: 420px;
    background-image: url(../images/imagens-above-the-fold/imagens-above-the-fold-above-the-fold3840x1440.jpg);
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.containerImagem-above-the-fold div{
    text-align: center;
}
.containerImagem-above-the-fold div h1{
    font-size: 3em;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 0;
}
.containerImagem-above-the-fold div p{
    font-size: 1.5em;
    margin-top: .5em;
    text-shadow: 1px 1px 2px black;
}
#containerBotaoAreaDoCondomino{
    background: linear-gradient(180deg, var(--azulCinzaClaro) 0%, var(--azulCinzaEscuro) 50%, var(--azulEscuro2) 100%);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerBotaoAreaDoCondomino a{
    background-color: var(--dourado);
    padding: .6em;
    color: white;
    border-radius: .2em;
    transition: .5s;
}
#containerBotaoAreaDoCondomino a:hover{
    scale: 101%;
}

/* Sessão 1 */
.section-1{
    width: 100%;
    padding: 2em 3em;
    display: flex;
    flex-direction: row;
}
.section-1 > div{
    width: 50%;
    padding: 0em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-1 div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1 div h2{
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
}
.section-1 div p:nth-child(1){
    background-color: var(--dourado);
    margin-bottom: 0;
    padding: .2em;
}
.section-1 div img{
    width: 75%;
}

/* Sessão 2 */
.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 6em;
    background-color: var(--azulEscuro2);
    color: white;
    background-image: url(../images/imagens-de-fundo/imagem-de-fundo1920x1080.png);
    background-size: cover;
    background-position: center;
}
.section-2 p{
    text-align: center;
}

/* Sessão 3 */
.section-3{
    width: 100%;
    padding: 2em 5em 1em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3 > p{
    background-color: var(--dourado);
    margin-bottom: 0;
    padding: .2em;
}
.section-3 h1{
    margin-top: 0;
    margin-bottom: .4em;
    font-size: 3.5em;
}
.section-3 > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
div.servico{
    width: 275px;
    height: 345px;
    background-color: var(--azulEscuro1);
    color: var(--dourado);
    border-radius: 60px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: .5em;
    margin-bottom: 2em;
    transition: .5s;
}
div.servico:hover{
    scale: 101%;
    box-shadow: 2px 4px 12px 5px rgba(0, 0, 0, 0.2);
}
div.servico div p{
    margin-bottom: .4em;
    margin-top: .5em;
}
div.servico div a.saibaMais-servicos{
    color: white;
    text-decoration: underline;
    transition: .5s;
}
div.servico div a.saibaMais-servicos:hover{
    color: var(--dourado);
}
div.servico div img{
    height: 100%;
}
div.servico div:nth-child(1){
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.servico div:nth-child(2){
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup{
    display: none; /* Escondido inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup-content{
    background-color: #fff;
    padding: 1em;
    margin: 0em 5em;
    border-radius: 20px;
    text-align: justify;
    position: relative;
}
.close{
    position: absolute;
    top: 6px;
    right: 17px;
    font-size: 30px;
    color: red;
    cursor: pointer;
    border-radius: 50px;
    transition: .5s;
}
.close:hover{
    background-color: red;
    color: white;
}

/* Sessão 4 */
.section-4{
    padding: 2em 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-4 p:nth-child(1){
    background-color: var(--dourado);
    margin-bottom: 0;
    padding: .2em;
}
.section-4 h1{
    margin-top: 0;
    margin-bottom: .4em;
    font-size: 2em;
}
.section-4 p{
    text-align: justify;
}

/* Sessão 5 */
.section-5{
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-5 > p{
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
}
.swiper-container{
    width: 100%;
    padding: 1em;
    overflow-x: hidden;
    margin-bottom: 1em;
}
.swiper-wrapper{
    width: 50%;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(180deg, var(--azulCinzaClaro) 0%, var(--azulCinzaEscuro) 50%, var(--azulEscuro2) 100%);
    height: 300px; /* Ajuste a altura do slide */
    transition: transform 0.5s;
}
.swiper-slide-active {
    transform: scale(1.2);
    background: linear-gradient(180deg, var(--azulCinzaClaro) 0%, var(--azulCinzaEscuro) 50%, var(--azulEscuro2) 100%);
}
.nome{
    font-size: 1.5em;
    margin-bottom: .5em;
}
.avaliacao{
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0em;
}
.estrelas{
    font-size: 2em;
    color: #ffbe0b;
    margin-top: 0em;
    margin-bottom: 0em;
}
.swiper-button-next, .swiper-button-prev{
    color: var(--dourado);
}
#searchBar{
    width: 1000px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 0px 60px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .2em 1em;
}
.typewriter{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 1em;
}
.cursor {
    width: 1px;
    height: 25px;
    background-color: black;
    margin-left: 2px;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

/* Sessão 6 */
.section-6{
    padding: 1em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-6 p{
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
}
#container__videosYoutube{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#container__videosYoutube iframe{
    width: 560px;
    height: 315px;
    border-radius: .4em;
    margin: .5em;
}
.section-6 nav{
    padding: .2em .2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--azulEscuro2);
    border-radius: 8px;
    margin-top: 2em;
}
.section-6 nav a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-6 nav a img{
    transition: .5s;
}
.section-6 nav a:hover img{
    scale: 110%;
}

/* Sessão 7 */
.section-7{
    margin: 1em;
    padding: 2em 2em;
    background: linear-gradient(180deg, var(--azulEscuro2) 0%, var(--azulCinzaEscuro) 50%, var(--azulCinzaClaro) 100%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.section-7 h1{
    color: var(--dourado);
    margin-top: 0;
    margin-bottom: .2em;
}
.section-7 > div{
    display: flex;
    flex-direction: row;
    padding-top: 1em 1em 0em 0em;

}
.section-7 div > div{
    width: 50%;
    padding: .5em;
}
.section-7 div div p{
    color: white;
    margin: 0;
}
.section-7 div div p.montserrat-bold{
    font-size: 1.5em;
    margin-bottom: 1em;
}
.section-7 div gmp-map{
    height: 100%;
}

/* Footer */
footer{
    width: 100%;
    padding: 1em;
    background-color: var(--azulEscuro1);
}
footer > div{
    display: flex;
    flex-direction: row;
}
footer div > div{
    width: 50%;
    display: flex;
    align-items: center;
}
footer div div h3{
    color: white;
    margin-top: 0em;
    margin-bottom: .2em;
}
footer div div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer div div div a{
    color: white;
    transition: .5s;
}
footer div div div a:hover{
    color: var(--dourado);
}
footer p{
    margin: 2em 0em 0em 0em;
    color: white;
    text-align: center;
}

.whatsapp-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    z-index: 1000;
    text-align: center;
    transition: .5s;
}
.whatsapp-link:hover{
    scale: 102%;
}